input{
    margin-left: 20%;
    border-color: rgb(9, 62, 97);
    border-width: 2px;
}
label{
    margin-left: 22%;
    margin-top: 20px;
    font-family: "Playfair Display SC";
    font-weight: bold;
}

