<!-- <p>edit-user works!</p>
<div class="row">
    <div class="col-xs-12">
        <form >
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="mail">Mail</label>
                    <input type="text" 
                           id="mail" 
                           class="form-control" 
                           #mailInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="password">Default Password</label>
                    <input type="text" 
                           id="password" 
                           class="form-control" 
                           #passwordInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="onAddUser()">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div> -->

<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row ">
                <div class="col-sm-3 form-group">
                    <label for="name">Mail Id</label>
                    <input type="text" 
                    id="name" 
                    class="form-control"
                    name="name"
                    ngModel 
                    required 
                    email
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="gender">
                        Gender
                    </label>
                    <input type="text" id="gender" class="form-control" name="gender" ngModel required>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="dob">DOB</label>
                    <input type="text" 
                    id="dob" 
                    class="form-control" 
                    name="dob"
                    ngModel 
                    required
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid" style="margin-left: 10%;"> {{editMode ? 'Update' : 'Add'}} </button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()" style="margin-left: 2%;" *ngIf = "editMode">Delete</button>
                    <button class="btn btn-primary" type="button" (click)="onClear()" style="margin-left: 2%;">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
