.ab{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(97, 158, 182));
    height: 100vh;
    width: 95vw;
    margin-top: 70px;
    
   
}
.heading{
    height: 10vh;
    width: 95vw;
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVG5pPW5BLe_d7uC52FVJLqGQiRHUH_I-mew&usqp=CAU");
    color: white;
    background-size: cover;
    
    
}


.logo{
    height: 70px;
    width: 70px;
    border-radius: 700px;
    margin-right: auto;
}

h1{
    color:black;
    font-family:monospace;
   
    color: white;
    
  
    
}
.btn{
    background-color: black;
    color: white;
    margin-left: 50%;
    width:720px;
    height:50px;
    font-size: 20px;
    
}

.ac{
    height: 100vh;
    width:95vw;

}

