<div class="container heading">
    <h1>CYBERAGE SHIELD</h1>

</div>
<div class="container ab">
    <p style="color:rgb(1, 1, 24);font-size:30px;"><b> Minimize the
            impact of a cyber attack and recover quickly.</b>
    </p>
    <!--<h2 style="color:rgb(12, 30, 88);font-size:40px;"><b>BUT HOW?</b></h2>-->
    <br>
    <br>
    <p style="color:rgb(163, 163, 196);font-size:40px;">
        As digital transformation and hyper-convergence create unintended gateways to risks, vulnerabilities,
        attacks,
        and failures, a cyber resiliency knowledge and strategy quicky becomes necessary for us. The Knowledge helps us
        reduce risks, financial impact and reputational damages.

    </p>
    <p style="color:rgb(3, 3, 56);font-size:60px;">
        So, If you Want to know more, learn and fight these enemies. Login here !!
    </p>
    <a routerLink="/login"><button type="submit" class="btn btn-primary">LOGIN</button></a>


</div>



<!--<img src="https://pbs.twimg.com/media/DD6pRGJUAAATcf7.jpg" alt="logo" class="logo">-->