
<div>
    
    <div class="container-fluid  bg-container">
        <div class="row">
            <div class="col-xs-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhURMA7X7vgvo5G0Fb4VcUqVoUFsdhnqPj7w&usqp=CAU"  class="admin-logo"/>
                <p class="admin-heading">Admin </p>
            </div>
            <div class="col-xs-7">
                <h1>CYBERAGE SHIELD</h1>
            </div>
            <div class="col-xs-3 ">                
                    <button class="btn btn-info" routerLink="/login">Logout</button>
                    <button class="btn btn-info" style="margin-left: 5px;" routerLink="/edit-profile">Edit Profile</button>
                   
            </div>
        </div>
    </div>    

</div>



