<nav class="navbar fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlX1qjAWF-Q9Ct7qNoDa8LvJ9e8WiJcCMFrg&usqp=CAU" class="admin-logo image-responsive"/>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="#">Edit Profile</a></li>
                <li><a routerLink="/manage-users">Manage Users</a></li>
                <li><a href="#">Manage Topics</a></li>
                <li><a href="#">Manage Questions</a></li>
                <li><a href="#">Users Status</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


