.bg-container{
  //background-image: linear-gradient(#aa076b, #61045f);
  background-color: rgb(9, 62, 97);
  text-align: center;
  font-family: "Playfair Display SC";
  color: white;
  font-weight: bold;
}
.admin-logo{
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-left: 15px;
  }
.admin-heading{
  font-size: 12px;
  margin-left: 17px;
}
button{
  margin-top: 20px;
  background-color: black;
  color: white;
}

h1{
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 24px;
  font-size: 32px;
  
}
