button{
    margin-top: 20px;
  }
  
  h1{
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
    
  }

.bg-bottom{
    //background-image: url("https://coolbackgrounds.io/images/backgrounds/white/white-contour-c990a61f.svg");
    background-image: url("https://media.istockphoto.com/photos/gray-abstract-minimal-motion-backgrounds-loopable-elements-4k-picture-id1174989482?b=1&k=20&m=1174989482&s=170667a&w=0&h=ld7ukW9KTzUlJLc6c37C2xs5ESYP2wLyjxsEVCumn2s=");
    background-size: cover;
    height: 100vh;
    
  }
  .admin-card{
    height: 220px;
    border-radius: 15px;
   background-image: url("https://media.gettyimages.com/photos/empty-dark-blue-with-black-vignette-studio-well-use-as-background-picture-id1175053786?b=1&k=20&m=1175053786&s=170667a&w=0&h=IaF0QdiiHMo0pC1RuIRUsOLcE3r9UYabacYP-0nAUiM=");
   background-size: cover;
    color: #fff;
    padding: 10px;
    margin-top: 40%;
    font-family: "Playfair Display SC";
  }
  .admin-card:hover{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
  
  }
