<!-- <p>manage-users works!</p> -->
<app-admin-header></app-admin-header>
<div class="container-fluid">
    <div class="row">

<div class="col-xs-10 col-md-5 adduser">
    <h2 style="font-size: 20px;">Add New User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSave(userForm.value)">
        <div class="form-row">
            <div class="form-group">
                <label>MailId</label>
            </div>
            <div class="form-row">
                <input type="text" formControlName="mail" class="form-control"/>
                <span 
                *ngIf="userForm.get('mail')?.invalid && userForm.get('mail')?.touched"
                style="color: red;"
                class="help-block text-center">
                Please Enter a valid mail ID
              </span>
            </div>
            <div class="form-group">
                <label>Default Password</label>
            </div>
            <div class="form-row">
                <input type="password" formControlName="password" class="form-control"/>
                <span 
                *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched"
                style="color: red;"
                class="help-block text-center">
                Please Enter default password
               </span>
            </div>
                
                <button type="submit" class="saveBtn"
                [disabled]="!userForm.valid" (click)="addUser()">Save</button>
            
        </div>
    </form>
</div>
        <div class="col-xs-10 col-md-5 tableBg">
            
            <button class="btn btn-primary" style="margin: 20px;" (click)="fetchUsers()">fetch all users</button>
            <h2>Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>MailId</th>
                        <th>Default Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>
                            <span>{{user.mail}}</span>
                        </td>
                        <td>
                            <span>{{user.gender}}</span>
                        </td>
                        <td>
                            <span>{{user.dob}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
